@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
    padding-bottom: 200px;
}

.top-header {
    text-align: center;
    margin:50px 0 !important;
}

.required {
    color:#632121;
}

.ErrorDiv {
    border:1px red solid;
    background-color:rgba(255, 0, 0, 0.4);
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
}

.SuccessDiv {
    border:1px #2B633B solid;
    background-color:#5DB075;
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
}

.edit-btn {
    background-color: #001f3f !important;
    color: #FFFFFF !important;
    border:none;
}

.delete-btn {
    background-color:#5DB075 !important;
    color: #FFFFFF !important;
    border:none;
}