.LogList {
   width: 70%;
}

.LogList tbody tr td {
    word-wrap: break-word;  
}

.edit-btn {
    background-color: #001f3f !important;
    color: #FFFFFF !important;
    border:none;
}

.delete-btn {
    background-color:#5DB075 !important;
    color: #FFFFFF !important;
    border:none;
}


.logList-Actions button {
    margin: 0 2px;
}

.noDataAvailable {
    font:20px;
    color:red;
    padding:50px;
}

.LogEditNotesInput {
    width:50%;
    height:80%;
    margin-bottom:30px;
}