.footer {
    width: 100% !important;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #001f3f !important;
    height:30px;
    line-height:30px;
}

.footer div a:hover{
    text-decoration: none;
}

.footer div {

    color:white !important;
}