.babyList {
    width: 70% !important;
    margin: auto;
}

table {
    text-align:center;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
}

.tableHead {
    margin: 0 10px;
}

