.babyList {
    width: 70% !important;
    margin: auto;
    table-layout: fixed;
}

table {
    text-align:center;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
}

.babyList  tbody tr td {
    word-wrap: break-word;  
}


.tableHead {
    margin: 0 10px;
}

.babyList-actions button {
    margin: 0 2px;
}

.babyListErrorMsg {
    width: 80%;
}