.ChooseABaby {
    width: 70% !important;
    margin: auto;
}

.AddNewBabyBtnBox {
    display:flex;
    justify-content: center;
}

.AddNewBabyBtn {
    background-color: #B05D5D !important;
    color: #FFFFFF !important;
    border:none;
    margin:50px auto 0;
    width:200px;
    height:50px;
    font-size:30px;
}
